:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --buttons-background: #f5f4fa;
  --secondary-background-color: #2f303a;
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --icon-items-color: #afb1b8;
  --animate: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-align, .client-link, .ind__icon-thumb, .header .container, .mailing-btn, .mailing-input, .social-link, label.modal-policy-label, .modal .close, .contact-list__link, .header-list, .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  fill: var(--icon-items-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: var(--icon-items-color);
}

.logo {
  display: block;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.header-nav {
  margin-right: auto;
}

.header-list {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-item {
  position: relative;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: inline-block;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link {
  color: #212121;
  -webkit-transition: color var(--animate);
  transition: color var(--animate);
}
.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}
.header-list__link.current::after, .header-list__link.portfolio::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  top: 100%;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
  -webkit-transform: translateY(28px);
          transform: translateY(28px);
}

.current {
  color: var(--accent-color);
}

.portfolio {
  color: var(--accent-color);
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin: 0;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__link {
  -ms-flex-item-align: center;
      align-self: center;
  color: var(--primary-text-color);
  -webkit-transition: color var(--animate);
  transition: color var(--animate);
}
.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  border: none;
}

.backdrope {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1), visibility cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1), visibility cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleX(1) scaleY(1);
          transform: translate(-50%, -50%) scaleX(1) scaleY(1);
  background: var(--primary-white-color);
  width: 528px;
  min-height: 581px;
  padding: 40px 39px 41px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrope.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scaleX(0) scaleY(0);
          transform: translate(-50%, -50%) scaleX(0) scaleY(0);
}

.modal .close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: var(--title-text-color);
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color var(--animate), fill var(--animate);
  transition: color var(--animate), fill var(--animate);
}
.modal .close:hover .icon-modal, .modal .close:focus .icon-modal {
  fill: var(--accent-color);
}

.icon-modal {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

/* MODAL-Form */
.modal-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 12px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field {
  display: block;
  margin-bottom: 10px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  font: inherit;
  background: var(--primary-white-color);
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 12px;
  -webkit-transition: border-color var(--animate), -webkit-box-shadow var(--animate);
  transition: border-color var(--animate), -webkit-box-shadow var(--animate);
  transition: border-color var(--animate), box-shadow var(--animate);
  transition: border-color var(--animate), box-shadow var(--animate), -webkit-box-shadow var(--animate);
  cursor: pointer;
}
.modal-input:focus-within {
  outline: none;
  border-color: var(--accent-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-input:focus-within + svg {
  color: var(--accent-color);
}

.input-wrapper {
  position: relative;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 11px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  -webkit-transition: fill var(--animate);
  transition: fill var(--animate);
}

.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  -webkit-transition: border-color var(--animate), -webkit-box-shadow var(--animate);
  transition: border-color var(--animate), -webkit-box-shadow var(--animate);
  transition: border-color var(--animate), box-shadow var(--animate);
  transition: border-color var(--animate), box-shadow var(--animate), -webkit-box-shadow var(--animate);
}
.modal-text:focus-within {
  outline: none;
  border-color: var(--accent-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-field:nth-child(4) {
  margin-bottom: 20px;
}

.form-field:nth-child(5) {
  margin-bottom: 30px;
}

.policy-input {
  display: block;
  -webkit-transition: border var(--animate), background-color var(--animate), fill var(--animate);
  transition: border var(--animate), background-color var(--animate), fill var(--animate);
}

label.modal-policy-label {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
  /* padding: 0 12px; */
}

.policy-input-check {
  width: 16px;
  height: 15px;
  background-color: var(--primary-white-color);
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.policy-input-check svg {
  fill: transparent;
}

.policy-link {
  color: var(--accent-color);
  margin-left: 2px;
}

.policy-input:checked + label > span {
  border: none;
  background-color: var(--accent-color);
}

.policy-input:checked + label > span svg {
  fill: var(--primary-white-color);
}

.send {
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--animate), color var(--animate);
  transition: background-color var(--animate), color var(--animate);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.icon-social {
  fill: currentColor;
}

.sign-up {
  width: 206px;
  margin-left: 70px;
  padding: 0;
  margin-right: 94px;
}

.social-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.sign-up__soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--animate);
  transition: background-color var(--animate);
}
.sign-up__soc-link .icon-social {
  fill: var(--primary-white-color);
}

.mailing-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mailing-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-white-color);
  letter-spacing: 0.03em;
  color: var(--footer-links-color);
  padding-left: 16px;
  margin-right: 12px;
}

.mailing-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transform: scaleX(1) scaleY(1);
          transform: scaleX(1) scaleY(1);
  -webkit-transition: -webkit-transform var(--animate);
  transition: -webkit-transform var(--animate);
  transition: transform var(--animate);
  transition: transform var(--animate), -webkit-transform var(--animate);
}
.mailing-btn:hover, .mailing-btn:focus {
  -webkit-transform: scaleX(0.95) scaleY(0.95);
          transform: scaleX(0.95) scaleY(0.95);
}

.icon-send {
  margin-left: 10px;
}

.address-contain {
  min-width: 231px;
}
.address-contain .logo {
  color: var(--primary-white-color);
  margin-right: 0;
  margin-bottom: 28px;
}

.address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.address-list .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  padding-top: 0;
  padding-bottom: 0;
}

.a-item {
  color: var(--primary-white-color);
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}

.header {
  border: 1px solid #ececec;
}
.hero {
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-image.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--secondary-background-color);
  max-width: 1600px;
  margin: 0 auto;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}

.primary {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 10px 24px;
  -webkit-transition: background-color var(--animate), color var(--animate);
  transition: background-color var(--animate), color var(--animate);
}
.primary:hover, .primary.primary:focus {
  color: var(--title-text-color);
  background-color: var(--buttons-background);
}

.individ {
  padding-bottom: 0;
}

.individ-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.individ-item {
  width: 270px;
}
.individ-item:not(:last-child) {
  margin-right: 30px;
}

.individ-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.individ-text {
  line-height: 1.7;
  margin-bottom: 0;
}

.ind__icon-thumb {
  height: 120px;
  background-color: var(--buttons-background);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-elem {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.work-elem:not(:last-child) {
  margin-right: 30px;
}

.work-tumb {
  position: relative;
  width: 370px;
  height: 294px;
}

.work-decorate {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.work-thumb__title {
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.team {
  background-color: var(--buttons-background);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0 3px 3px 3px hsla(0deg, 0%, 0%, 0.3);
          box-shadow: 0 3px 3px 3px hsla(0deg, 0%, 0%, 0.3);
}
.team-item.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-list__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-item {
  width: 170px;
  height: 92px;
}
.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--icon-items-color);
  border-radius: 4px;
  color: var(--icon-items-color);
  -webkit-transition: color var(--animate), border var(--animate);
  transition: color var(--animate), border var(--animate);
}
.client-link:hover, .client-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client-icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.secondary {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--buttons-background);
  -webkit-transition: background-color var(--animate), color var(--animate), -webkit-box-shadow var(--animate);
  transition: background-color var(--animate), color var(--animate), -webkit-box-shadow var(--animate);
  transition: background-color var(--animate), color var(--animate), box-shadow var(--animate);
  transition: background-color var(--animate), color var(--animate), box-shadow var(--animate), -webkit-box-shadow var(--animate);
}
.secondary:hover, .secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 1px 3px 3px hsla(0deg, 0%, 0%, 0.3);
          box-shadow: 0px 1px 3px 3px hsla(0deg, 0%, 0%, 0.3);
}

/* Sites menu */
.sites-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.site-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  padding-bottom: 20px;
  -webkit-transition: -webkit-box-shadow var(--animate);
  transition: -webkit-box-shadow var(--animate);
  transition: box-shadow var(--animate);
  transition: box-shadow var(--animate), -webkit-box-shadow var(--animate);
}
.site-item:hover, .site-item:focus {
  -webkit-box-shadow: 0 3px 5px 5px hsla(0deg, 0%, 0%, 0.3);
          box-shadow: 0 3px 5px 5px hsla(0deg, 0%, 0%, 0.3);
}
.site-item:hover .site-item__thumb, .site-item:focus .site-item__thumb {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.sites-thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.site-item__thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--animate);
  transition: -webkit-transform var(--animate);
  transition: transform var(--animate);
  transition: transform var(--animate), -webkit-transform var(--animate);
}

.hidden-sites-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.sites-title__link {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 0 24px;
  margin-bottom: 4px;
}

.sites-text {
  font-size: 16px;
  line-height: 1.9;
  padding: 0 24px;
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}/*# sourceMappingURL=main.css.map */