.address-contain {
  min-width: 231px;
  margin-bottom: 30px;
  .logo {
    color: var(--primary-white-color);
    margin-right: 0;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    @include desktop {
      display: flex;
      align-items: start;
    }
  }

  @include tablet {
    margin-right: 165px;
  }
  @include desktop {
    margin-right: 94px;
  }
}

.address-list {
  align-items: center;

  display: flex;
  flex-direction: column;
  gap: 12px;
  .contact-item {
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    padding-top: 0;
    padding-bottom: 0;
  }
  @include desktop {
    align-items: start;
  }
}

.a-item {
  color: var(--primary-white-color);
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}
