.address-contain {
  min-width: 231px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .logo {
    color: var(--primary-white-color);
    margin-right: 0;
    margin-bottom: 28px;
  }
  @include tablet {
    margin-bottom: 0;
  }
  @include desktop {
    align-items: flex-start;
  }
}

.address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  .contact-item {
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include desktop {
    align-items: flex-start;
  }
}

.a-item {
  color: var(--primary-white-color);
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}
