.contact-list {
  display: flex;
  align-content: center;
  align-items: center;
}

.contact-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin: 0;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-list__link {
  @extend .flex-align;
  align-self: center;
  color: var(--primary-text-color);
  transition: color var(--animate);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}
