.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 738px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
}

.section {
  @media screen and (min-width: 480px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  border: none;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}
