.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @include mobile {
    width: 480px;
  }
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  border: none;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 30px;

  @include desktop {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
