.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  // @include tablet {
  //   flex-wrap: wrap;
  // }

  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    //   &:not(:last-child) {
    //     margin-right: 94px;
    //   }
    // }
  }

  .tablet-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }
}
