.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .tablet-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;

    @include tablet {
      justify-content: center;
      display: flex;
      flex-direction: row;
    }
    @include desktop {
      margin-bottom: 0;
    }
  }
}
