.header {
  position: relative;
  border: 1px solid #ececec;
  padding: 13px 0;

  @include tablet {
    padding: 0;
  }
  .container {
    display: flex;
    align-items: center;
  }

  @include desktop {
    border: 1px solid #ececec;
    .container {
      display: flex;
      align-items: center;
    }
  }
}

.button-mobile {
  @include tablet {
    display: none;
  }

  display: inline-flex;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  z-index: 2;

  .icon-close_mobile {
    display: none;
  }

  &.is-open .icon-close_mobile {
    display: block;
  }

  &.is-open .icon-menu_mobile {
    display: none;
  }
}

.menu-mobile {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 15px;
  text-align: center;

  @media screen and( max-width:767px) {
    &.is-open {
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 0;
      padding: 48px 40px;
      width: 100vw;
      height: 100%;
      background-color: white;
      z-index: 1;
    }
  }
}

.mobile-link {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu__mobile {
  @media screen and( max-width:767px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.button-mobile__foto {
  color: var(--title-text-color);
  transform: color var(--animate);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.button-mobile__foto--position {
  position: fixed;
  top: 21px;
  right: 25px;
}

.mobile-separator {
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 15px;
}
