.individ {
  padding-bottom: 0;
  margin-bottom: 60px;
}

.individ-list {
  margin: -15px;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    display: flex;
  }
}

.individ-item {
  @media screen and (min-width: 480px) {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-bottom: 0;
  }
}

.ind__icon-thumb {
  height: 120px;
  background-color: var(--buttons-background);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individ-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.individ-text {
  line-height: 1.7;
  margin-bottom: 10px;
}

.ind__icon-thumb {
  height: 120px;
  background-color: var(--buttons-background);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
